<div class="container">
  <div>
      <img src="images/image.svg" alt="image">
  </div>

  <div>
    <div class="form-wraper">
      <form>
        <header>
          <p>Bem-vindo de volta</p>
          <h1>Faça login na sua conta</h1>
        </header>

        <div class="container-inputs">
          <div class="input-wraper">
            <label for="email">E-mail</label>
            <input type="email" id="email" required>
          </div><!-- input-wraper -->

          <div class="input-wraper">
            <label for="password">Senha</label>
            <input type="password" id="password" required>
          </div><!-- input-wraper -->
        </div><!-- container-inputs -->

        <footer>
          <header>
            <p>Lembre de mim</p>
            <a href="#">Esqueceu sua senha?</a>
          </header>

          <div class="container-buttons">
            <div class="button-wraper">
              <button>Entrar na conta</button>
            </div><!-- button-wraper -->

            <div class="button-wraper">
              <a href="#">
                <div class="icon" style="background-image: url(images/google-icon.jpg);"></div><!-- icon -->
                <p>Ou faça login com o Google </p>
              </a>
            </div><!-- button-wraper -->
          </div><!-- container-buttons -->

          <footer>
            <p>Não tem uma conta? <a href="#">Cadastre-se</a></p>
          </footer>
        </footer>
      </form>
    </div><!-- form-wraper -->
  </div>
</div><!-- container -->
